.visio-analytics-cookie-notice {
  background-color: #3b4045;
  position: fixed;
  z-index: 9999;
  padding: 10px 20px;
  min-width: 263px;
  max-width: calc(60vw);
}
.visio-analytics-cookie-notice p,
.visio-analytics-cookie-notice a,
.visio-analytics-cookie-notice a:hover,
.visio-analytics-cookie-notice a:visited,
.visio-analytics-cookie-notice .a {
  color: #fff;
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}
.visio-analytics-cookie-notice a,
.visio-analytics-cookie-notice .a {
  cursor: pointer;
  text-decoration: underline;
  white-space: nowrap;
}
.visio-analytics-cookie-notice .a {
  margin: 10px 20px 0 0;
}
.visio-analytics-cookie-notice .button {
  color: #3b4045;
  background-color: #fff;
  white-space: nowrap;
  float: right;
  padding: 5px 20px;
  cursor: pointer;
}
.visio-analytics-cookie-notice .va-actions {
  margin-top: 10px;
}
.visio-analytics-cookie-notice .va-actions > * {
  display: inline-block;
}
.visio-analytics-cookie-notice.topleft {
  top: 20px;
  left: 20px;
  width: 400px;
}
.visio-analytics-cookie-notice.topright {
  top: 20px;
  right: 20px;
  width: 400px;
}
.visio-analytics-cookie-notice.bottomleft {
  bottom: 20px;
  left: 20px;
  width: 400px;
}
.visio-analytics-cookie-notice.bottomright {
  bottom: 20px;
  right: 20px;
  width: 400px;
}
.visio-analytics-cookie-notice.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  display: inline-block;
}
.visio-analytics-cookie-notice.bottom .va-disclaimer {
  display: inline-block;
}
.visio-analytics-cookie-notice.bottom .va-actions {
  float: right;
  margin: 0;
}
